Package: io.github.dedeole99.1999
Name: 1999 - Beta Winterboard
Version: 1.0.1
Architecture: iphoneos-arm
Description: 1999 - Beta für Winterboard
Maintainer: DedeOle99 <dedeole99@iszene.com>
Author: DedeOle99 <dedeole99@iszene.com>
Section: Themes
