Package: io.github.dedeole99.1999beta
Name: 1999 Theme - Beta
Version: 1.0
Architecture: iphoneos-arm
Description: Schlichtes Theme für alle iPhones
Maintainer: DedeOle99 <dedeole99@iszene.com>
Author: DedeOle99 <dedeole99@iszene.com>
Section: Themes
Depends: winterboard, com.codethemed.iconbundles


